.about_title {
  color: #1d2f3c;
  font-size: 48px;
  font-weight: 700;
  margin: 40px 0;
}
.about_block-img {
  width: calc(100% - 100px);
  position: relative;
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.about_img {
  max-width: 100%;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
  height: auto;
}
.about_img_photo {
  width: 100%;
  -webkit-transform: none;
  transform: none;
}
.about_text {
  position: relative;
  z-index: 1;
  max-width: 697px;
  color: #1d2f3c;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.37px;
}
