@anim: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
@color_link: #82c831;
@color_text: #1d2f3c;
///

.page {
  .search {
    width: 100%;
    position: relative;
    margin-bottom: 32px;
    &_form {
      display: block;
      width: 100%;
      -webkit-appearance: none;
    }
    &_input {
      height: 48px;
      width: ~"calc(100% - 56px)";
      border: 0;
      border-radius: 8px;
      padding: 0 16px;
      padding-right: 40px;
      -moz-appearance: none;
      -webkit-appearance: none;
      -webkit-box-shadow: inset 1px 4px 4px rgba(120, 160, 190, 0.2);
      box-shadow: inset 1px 4px 4px rgba(120, 160, 190, 0.2);
      background-color: #f6f9fb;
      color: @color_text;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.28px;
      line-height: 18.87px;
    }
    &_button {
      position: absolute;
      right: 16px;
      top: 13px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      width: 24px;
      height: 24px;
      background-image: url(../images/search.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
    }
    .notFound {
      margin-top: 80px;
      margin-bottom: 140px;
      &_img {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        img {
          width: 55px;
          height: 55px;
          margin: auto;
        }
      }
      &_title {
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 29px;
        text-align: center;
        color: #1d2f3c;
        text-align: center;
        margin-bottom: 13px;
      }
      &_text {
        text-align: center;
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        color: #7a858d;
      }
    }
  }
}
