.burger {
  min-height: calc(100vh - 60px);
  position: relative;
}
.burger__wrapper {
  opacity: 0;
  display: none;
  position: fixed;
  z-index: 12;
  top: 62px;
  left: 0;
  padding: 0 24px;
  width: calc(100% - 48px);
  background-color: #fff;
  height: calc(100vh - 62px);
  padding-bottom: 8px;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.burger__wrapper::-webkit-scrollbar {
  display: none;
  width: 0;
}
.burger__wrapper.active {
  display: block;
}
.burger__wrapper.open {
  opacity: 1;
}
.burger__menu {
  padding-bottom: 72px ;
}
.burger__menu__title {
  padding-top: 40px;
  text-align: center;
  color: #1d2f3c;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
  margin-bottom: 16px;
  line-height: 16.35px;
  text-transform: uppercase;
}
.burger__menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
}
.burger__menu__item {
  border-radius: 8px;
  background-color: #f3faea;
  padding: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 8px;
  margin-bottom: 12px;
  list-style: none;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.burger__menu__item:hover {
  background-color: #e9f6d7;
}
.burger__menu__item__link {
  color: #1d2f3c;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 21.09px;
}
.burger__menu__item__link_icon {
  margin-right: 5px;
}
.burger__bottom {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.burger__bottom__link {
  color: #7a858d;
  font-size: 15px;
  font-weight: 400;
  line-height: 21.09px;
  margin-right: 16px;
}
.burger__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25px;
}
.burger__search.active .burger__search__input {
  width: 100%;
  z-index: 2;
  opacity: 1;
}
.burger__search.active .burger__search__input::-webkit-input-placeholder {
  color: #d7dbde;
}
.burger__search.active .burger__search__input:-ms-input-placeholder {
  color: #d7dbde;
}
.burger__search.active .burger__search__input::-ms-input-placeholder {
  color: #d7dbde;
}
.burger__search.active .burger__search__input::placeholder {
  color: #d7dbde;
}
.burger__search.active .burger__search__button {
  position: absolute;
  left: 15px;
  top: 0;
}
.burger__search__button {
  background-color: transparent;
  border: none;
  min-width: 25px;
  height: 24px;
  z-index: 3;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
  cursor: pointer;
}
.burger__search__input {
  position: absolute;
  left: 0px;
  padding-left: 40px;
  top: 0;
  width: 0;
  border: none;
  color: #1d2f3c;
  height: 21px;
  opacity: 0;
  font-size: 15px;
  z-index: -2;
  font-weight: 400;
  line-height: 21.09px;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.burger__search__input::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.burger__search__input:-ms-input-placeholder {
  color: transparent;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.burger__search__input::-ms-input-placeholder {
  color: transparent;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.burger__search__input::placeholder {
  color: transparent;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.burger__tags {
  display: none;
  padding: 0 20px;
  width: calc(100% - 40px);
  position: absolute;
  top: -55px;
  height: 100vh;
  min-height: Calc(100% + 55px);
  z-index: 3;
  left: 0;
  opacity: 0;
  background-color: #ffffff;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.burger__tags.active {
  display: block;
}
.burger__tags.active.open {
  opacity: 1;
}
.burger__tags__title {
  color: #1d2f3c;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 16.35px;
  text-align: center;
  margin-bottom: 32px;
  padding-top: 56px;
}
.burger__tags__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.burger__tags__item {
  font-size: 18px;
  font-weight: 400;
  line-height: 26.37px;
  margin-right: 10px;
  list-style: none;
  margin-bottom: 16px;
  margin-right: 16px;
  display: inline;
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
  box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.burger__tags__item:hover {
  color: #82c831;
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
  box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
}
.burger__tags__item::before {
  content: none;
}
.burger__tags__item.big {
  font-size: 21px;
  line-height: 28.62px;
}
.burger__tags__item.small {
  font-size: 15px;
  line-height: 21.09px;
}
.burger__tags__item__link {
  color: #82c831;
}
.burger__tags__close {
  position: absolute;
  cursor: pointer;
  top: 60px;
  right: 8px;
  background-image: url(../images/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.burger__tags__close:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
