.burger {
  opacity: 0;
  display: none;
  position: fixed;
  z-index: 12;
  top: 62px;
  left: 0;
  padding: 0 24px;
  width: calc(100% - 48px);
  background-color: #fff;
  height: calc(100vh - 62px);
  padding-bottom: 8px;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.burger::-webkit-scrollbar {
  display: none;
  width: 0;
}
.burger.active {
  display: block;
}
.burger.open {
  opacity: 1;
}
.burger .box {
  min-height: calc(100vh - 60px);
  position: relative;
}
.burger .menu {
  padding-bottom: 72px;
}
.burger .menu_title {
  padding-top: 40px;
  text-align: center;
  color: #1d2f3c;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
  margin-bottom: 16px;
  line-height: 16.35px;
  text-transform: uppercase;
}
.burger .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
}
.burger .menu_item {
  border-radius: 8px;
  background-color: #f3faea;
  padding: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 8px;
  margin-bottom: 12px;
  list-style: none;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.burger .menu_item:hover {
  background-color: #e9f6d7;
}
.burger .menu_link {
  color: #1d2f3c;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 21.09px;
}
.burger .menu_icon {
  margin-right: 5px;
  margin-top: 5px;
}
.burger .bottom {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.burger .bottom_link {
  color: #7a858d;
  font-size: 15px;
  font-weight: 400;
  line-height: 21.09px;
  margin-right: 16px;
}
.burger .burSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25px;
}
.burger .burSearch.active .burSearch_input {
  width: 100%;
  z-index: 2;
  opacity: 1;
}
.burger .burSearch.active .burSearch_input::-webkit-input-placeholder {
  color: #d7dbde;
}
.burger .burSearch.active .burSearch_input:-ms-input-placeholder {
  color: #d7dbde;
}
.burger .burSearch.active .burSearch_input::-ms-input-placeholder {
  color: #d7dbde;
}
.burger .burSearch.active .burSearch_input::placeholder {
  color: #d7dbde;
}
.burger .burSearch.active .burSearch_button {
  position: absolute;
  left: 15px;
  top: 0;
}
.burger .burSearch_button {
  background-color: transparent;
  border: none;
  min-width: 25px;
  height: 24px;
  z-index: 3;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
  cursor: pointer;
}
.burger .burSearch_input {
  position: absolute;
  left: 0px;
  padding-left: 40px;
  top: 0;
  width: 0;
  border: none;
  color: #1d2f3c;
  height: 21px;
  opacity: 0;
  font-size: 15px;
  z-index: -2;
  font-weight: 400;
  line-height: 21.09px;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.burger .burSearch_input::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.burger .burSearch_input:-ms-input-placeholder {
  color: transparent;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.burger .burSearch_input::-ms-input-placeholder {
  color: transparent;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.burger .burSearch_input::placeholder {
  color: transparent;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.burger .burTags {
  display: none;
  padding: 0 20px;
  width: calc(100% - 40px);
  position: absolute;
  top: -55px;
  height: 100vh;
  min-height: Calc(100% + 55px);
  z-index: 3;
  left: 0;
  opacity: 0;
  background-color: #ffffff;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.burger .burTags.active {
  display: block;
}
.burger .burTags.active.open {
  opacity: 1;
}
.burger .burTags_title {
  color: #1d2f3c;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 16.35px;
  text-align: center;
  margin-bottom: 32px;
  padding-top: 56px;
}
.burger .burTags_list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.burger .burTags_item {
  font-size: 18px;
  font-weight: 400;
  line-height: 26.37px;
  list-style: none;
  margin-bottom: 16px;
  margin-right: 16px;
  display: inline;
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
  box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.burger .burTags_item:hover {
  color: #82c831;
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
  box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
}
.burger .burTags_item::before {
  content: none;
}
.burger .burTags_item.tags_big {
  font-size: 21px;
  line-height: 28.62px;
}
.burger .burTags_item.tags_small {
  font-size: 15px;
  line-height: 21.09px;
}
.burger .burTags_link {
  color: #82c831;
}
.burger .burTags_close {
  position: absolute;
  cursor: pointer;
  top: 60px;
  right: 8px;
  background-image: url(../images/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.burger .burTags_close:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.burger_logOut {
  position: fixed;
  right: 0px;
  padding: 0 17px;
  background-color: #fff;
  top: 36px;
  transform: translate(0, -50%);
  width: 30px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger_logOut::before {
  content: "";
  display: block;
  width: 18px;
  min-width: 18px;
  height: 18px;
  background-image: url(../images/logOut.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 400px) {
  .burger .box {
    width: calc(100% - 32px);
    padding: 0 16px;
  }
}
