@media (max-width: 950px) {
  .footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer .logo {
    width: 200px;
  }
  .footer .logo img {
    max-width: 100%;
  }
  .footer .left {
    width: 45%;
  }
  .footer .left_item {
    max-width: none;
  }
  .footer .menu {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 45%;
    margin-bottom: 40px;
    padding-left: 0;
  }
  .footer .menu:nth-child(4) {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
}
@media (max-width: 768px) {
  .footer .left {
    width: 100%;
    flex-basis: auto;
    margin-bottom: 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid #f0f0f0;
  }
  .footer .menu {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    margin-bottom: 32px;
  }
  .footer .menu:nth-child(4) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .footer .menu:nth-child(3) {
    display: none;
  }
  .footer .menu_list {
    position: relative;
  }
  .footer .menu_list:before {
    content: '';
    display: block;
    position: absolute;
    width: 200vw;
    height: 1px;
    background: #f0f0f0;
    bottom: -18px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .footer .form_inpt {
    width: 250px;
  }
}
