.footer {
  max-width: 1004px;
  margin: auto;
  margin-top: 48px;
  border-top: 1px solid #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 72px;
  position: relative;
}
.footer:before {
  content: "";
  display: block;
  width: 2000px;
  height: 1px;
  background-color: #f0f0f0;
  position: absolute;
  right: 100%;
  top: -1px;
}
.footer .left {
  margin-top: -16px;
}
.footer .left_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .left_item {
  font-size: 15px;
  font-weight: 400;
  line-height: 21.09px;
  margin: 10px 0;
  margin-bottom: 24px;
  max-width: 140px;
}
.footer .left_link {
  color: #7a858d;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: block;
  margin-bottom: 5px;
}
.footer .left_link:hover {
  color: #82c831;
}
.footer .left_colored {
  color: #82c831;
}
.footer .menu_title {
  color: #1d2f3c;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.72px;
  line-height: 16.17px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer .menu_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .menu_item {
  margin-bottom: 12px;
}
.footer .menu_link {
  color: #1d2f3c;
  font-size: 15px;
  font-weight: 400;
  line-height: 21.09px;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.footer .menu_link:hover {
  color: #82c831;
}
.footer .menu_text {
  color: #1d2f3c;
  font-size: 15px;
  font-weight: 400;
  line-height: 21.09px;
  max-width: 305px;
  margin-bottom: 8px;
}
.footer .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
  position: relative;
}
.footer .form_succes {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  padding-left: 32px;
  position: relative;
  margin-top: 10px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7a858d;
  display: flex;
  max-width: 340px;
}
.footer .form_succes:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  background-image: url(../images/check_succes.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.footer .form_input {
  width: 221px;
}
.footer .form .error_text {
  position: absolute;
  left: 0;
  bottom: -18px;
  color: red;
  font-size: 12px;
}
.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer .social_item {
  margin-right: 24px;
  filter: grayscale(1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.footer .social_item:hover {
  filter: none !important;
  opacity: 1 !important;
}
.footer .social_item:nth-child(4) {
  opacity: 0.7;
  filter: contrast(0) grayscale(1);
}
.footer .social_item:nth-child(3) {
  opacity: 0.7;
}
.footer .social_item:nth-child(2) {
  opacity: 0.4;
}
.footer .social_item:nth-child(1) {
  opacity: 0.9;
}
