@media (max-width: 950px) {
  .footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer__logo {
    width: 200px;
  }
  .footer__logo img {
    max-width: 100%;
  }
  .footer__left {
    width: 45%;
  }
  .footer__left__item {
    max-width: none;
  }
  .footer__menu {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 45%;
    margin-bottom: 40px;
  }
  .footer__menu:nth-child(4) {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
}
@media (max-width: 768px) {
  .footer__left {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f0f0f0;
  }
  .footer__left .bl-desktop {
    display: none;
  }
  .footer__menu {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    margin-bottom: 30px;
  }
  .footer__menu:nth-child(4) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .footer__menu:nth-child(3) {
    display: none;
  }
  .footer__menu .bl-mobile {
    display: block;
  }
  .footer_form_inpt {
    width: 250px;
  }
}
