@media (max-width: 1439px) {
  .header.fixed {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .header .container {
    width: 100% !important;
  }
  .header.fixed .container {
    width: calc(100% - 50px) !important;
  }
}
@media (max-width: 950px) {
  .header__bottom {
    overflow-y: visible;
    overflow-x: scroll;
    position: relative;
  }
  .header__bottom::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
  .header__bottom::-ms-scrollbar {
    display: none;
  }
  .header__bottom__menu {
    opacity: 1;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 10000px;
  }
  .header__bottom__menu a {
    -webkit-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
  }
  .header__bottom__menu__more {
    display: none;
  }
}
@media (max-width: 768px) {
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header__top__menu,
  .header__top__subsc {
    display: none;
  }
  .header__bottom {
    overflow: scroll;
    width: 100%;
    padding: 0 25px;
    margin-left: -25px;
  }
  .header__bottom::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
  .header__bottom::-ms-scrollbar {
    display: none;
  }
  .header__search {
    display: none;
  }
  .header__logo {
    margin-right: 0;
    width: 200px;
  }
  .header__logo__img {
    max-width: 100%;
  }
  .header__burger-btn,
  .header__sitebar-btn {
    display: block;
  }
}
@media (max-width: 400px) {
  .header__bottom {
    width: 100%;
    padding: 0 15px;
    margin-left: -15px;
  }
}
