@media (max-width: 1439px) {
  .header.fixed {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .header .container {
    width: 100% !important;
  }
  .header.fixed .container {
    width: calc(100% - 50px) !important;
  }
}
@media (max-width: 950px) {
  .header .rubrics {
    position: relative;
    opacity: 1;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: auto;
    overflow-y: visible;
    overflow-x: scroll;
  }
  .header .rubrics::-ms-scrollbar {
    display: none;
  }
  .header .rubrics::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
  .header .rubrics_list {
    flex-wrap: nowrap;
    width: max-content;
  }
  .header .rubrics a {
    -webkit-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
  }
  .header .rubrics_more {
    display: none;
  }
}
@media (max-width: 768px) {
  .header .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header .menu,
  .header .subsc {
    display: none;
  }
  .header .rubrics {
    overflow: scroll;
    width: 100%;
    padding: 0 24px;
    margin-left: -24px;
  }
  .header .rubrics::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
  .header .rubrics::-ms-scrollbar {
    display: none;
  }
  .header .search {
    display: none;
  }
  .header .logo {
    margin-right: 0;
    width: 200px;
  }
  .header .logo_img {
    max-width: 100%;
  }
  .header .btn_burger,
  .header .btn_sitebar {
    display: block;
  }
}
@media (max-width: 400px) {
  .header .rubrics {
    width: 100%;
    padding: 0 16px;
    margin-left: -16px;
  }
  .header.fixed .container {
    width: calc(100% - 32px) !important;
  }
}
