.header {
  max-width: 1010px;
  width: 100%;
  margin: auto;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  background-color: #fff;
  -webkit-transition: top 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}
.header.shadow:before {
  -webkit-box-shadow: 1px 2px 8px rgba(120, 160, 190, 0.08);
  box-shadow: 1px 2px 8px rgba(120, 160, 190, 0.08);
}
.header.white_pole .header__top::after {
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  z-index: 10;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
}
.header::before {
  content: "";
  display: block;
  height: 100%;
  width: 200vw;
  left: 50%;
  top: 0;
  position: absolute;
  z-index: -1;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background-color: inherit;
}
.header.fade {
  opacity: 1;
}
.header.hide {
  top: -200px;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.header__top__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header__top__menu__item {
  margin-right: 25px;
  list-style: none;
}
.header__top__menu__item__link {
  color: #1d2f3c;
  font-size: 15px;
  font-weight: 400;
  line-height: 21.09px;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.header__top__menu__item__link:hover {
  color: #82c831;
}
.header__top__subsc {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #82c831;
  font-size: 15px;
  font-weight: 400;
  line-height: 21.09px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 3px;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
  box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
}
.header__top__subsc:before {
  content: "";
  margin-right: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -32px;
  width: 24px;
  height: 24px;
  background-image: url(../images/subscribe.svg);
}
.header__top__subsc:hover {
  color: #82c831;
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
  box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
}
.header__bottom {
  margin-top: 18px;
}
.header__bottom__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-height: 56px;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.header__bottom__menu__item {
  border-radius: 8px;
  background-color: #f3faea;
  padding: 0 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 7px;
  margin-bottom: 8px;
  list-style: none;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.header__bottom__menu__item:hover {
  background-color: #e9f6d7;
}
.header__bottom__menu__item__link {
  color: #1d2f3c;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 21.09px;
}
.header__bottom__menu__item__icon {
  margin-right: 5px;
}
.header__bottom__menu__more {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 11px 9px;
}
.header__bottom__menu__more__link {
  color: #1d2f3c;
  line-height: 10px;
  font-size: 24px;
}
.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__search:hover .header__search__input::-webkit-input-placeholder,
.header__search:focus-within .header__search__input::-webkit-input-placeholder {
  color: #d7dbde;
}
.header__search:hover .header__search__input:-ms-input-placeholder,
.header__search:focus-within .header__search__input:-ms-input-placeholder {
  color: #d7dbde;
}
.header__search:hover .header__search__input::-ms-input-placeholder,
.header__search:focus-within .header__search__input::-ms-input-placeholder {
  color: #d7dbde;
}
.header__search:hover .header__search__input::placeholder,
.header__search:focus-within .header__search__input::placeholder {
  color: #d7dbde;
}
.header__search__button {
  background-color: transparent;
  border: none;
  width: 25px;
  height: 24px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
  cursor: pointer;
}
.header__search__input {
  border: none;
  color: #1d2f3c;
  height: 21px;
  font-size: 15px;
  font-weight: 400;
  line-height: 21.09px;
  caret-color: #82c831;
  -webkit-caret-color: #82c831;
  -ms-caret-color: #82c831;
  -o-caret-color: #82c831;
}
.header__search__input::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.header__search__input:-ms-input-placeholder {
  color: transparent;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.header__search__input::-ms-input-placeholder {
  color: transparent;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.header__search__input::placeholder {
  color: transparent;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.header__tags {
  display: none;
  padding: 17px 25px;
  width: calc(100% - 50px);
  position: absolute;
  top: 100%;
  left: 10px;
  opacity: 0;
  -webkit-box-shadow: 0 4px 15px rgba(120, 160, 190, 0.3);
  box-shadow: 0 4px 15px rgba(120, 160, 190, 0.3);
  background-color: #ffffff;
  -webkit-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.header__tags.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__tags.active.open {
  opacity: 1;
}
.header__tags__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.header__tags__item {
  font-size: 18px;
  font-weight: 400;
  line-height: 26.37px;
  margin-right: 10px;
  list-style: none;
  margin-bottom: 15px;
  margin-right: 15px;
  display: inline;
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
  box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.header__tags__item:hover {
  color: #82c831;
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
  box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
}
.header__tags__item::before {
  content: none;
}
.header__tags__item.big {
  font-size: 21px;
  line-height: 28.62px;
}
.header__tags__item.small {
  font-size: 15px;
  line-height: 21.09px;
}
.header__tags__item__link {
  color: #82c831;
}
.header__tags__close {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  background-image: url(../images/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.header__tags__close:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.header__logo {
  margin-right: 37px;
  background-image: url(../images/logo.svg);
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
  background-repeat: no-repeat;
  background-size: contain;
  width: 242px;
  height: 48px;
}
.header__burger-btn {
  display: none;
  position: relative;
  height: 2px;
  width: 18px;
  padding: 5px 0;
}
.header__burger-btn span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #6a747b;
}
.header__burger-btn:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #6a747b;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.header__burger-btn:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #6a747b;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.header__burger-btn.active::before {
  top: 50%;
  margin-top: -1px;
  -webkit-transform-origin: center;
  transform-origin: center;
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header__burger-btn.active::after {
  bottom: 50%;
  margin-bottom: -1px;
  -webkit-transform-origin: center;
  transform-origin: center;
  left: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header__burger-btn.active:hover:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header__burger-btn.active:hover:after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.header__burger-btn.active span {
  background-color: transparent;
}
.header__sitebar-btn {
  display: none;
  background-image: url(../images/sitebar-open.svg);
  background-size: contain;
  background-position: center;
  width: 21px;
  height: 21px;
}
