.page .reviewsTab {
  padding: 24px 0;
  background-color: #f6fbfe;
  margin: 32px 0;
  margin-top: 40px;
  position: relative;
  display: none;
}
.page .reviewsTab:before {
  content: "";
  display: block;
  background-color: #f6fbfe;
  width: 1000px;
  height: 100%;
  position: absolute;
  right: 100%;
  top: 0;
}
.page .reviewsTab:after {
  content: "";
  display: block;
  background-color: #f6fbfe;
  width: 1000px;
  height: 100%;
  position: absolute;
  left: 100%;
  top: 0;
}
.page .reviewsTab_col {
  width: calc((100% - 100px)/3);
  margin-right: 50px;
}
.page .reviewsTab_col:nth-child(3n) {
  margin-right: 0;
}
.page .reviewsTab_title {
  color: #1d2f3c;
  font-size: 21px;
  font-weight: 700;
  line-height: 28.3px;
  margin-bottom: 32px;
}
.page .reviewsTab_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.page .reviewsTab_item {
  margin-bottom: 32px;
  width: calc((100% - 20px)/3);
  margin-right: 10px;
}
.page .reviewsTab_item:nth-child(3n) {
  margin-right: 0;
}
.page .reviewsTab_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}
.page .reviewsTab_blockImg {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}
.page .reviewsTab_img {
  max-width: 100%;
  max-height: 100%;
}
.page .reviewsTab_name {
  color: #1d2f3c;
  font-size: 15px;
  font-weight: 500;
  line-height: 20.21px;
}
.page .reviewsTab_time {
  color: #7a858d;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.26px;
  line-height: 16.76px;
}
.page .reviewsTab_comment {
  color: #1d2f3c;
  font-size: 15px;
  font-weight: 400;
  line-height: 21.09px;
  margin-bottom: 6px;
}
.page .reviewsTab_link {
  text-decoration: none;
  color: #82c831;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.26px;
  line-height: 16.76px;
}
