.sitebar {
  width: 375px;
  height: 100%;
  padding: 0 24px;
  box-sizing: border-box;
  -webkit-box-shadow: -4px 4px 15px rgba(120, 160, 190, 0.3);
  box-shadow: -4px 4px 15px rgba(120, 160, 190, 0.3);
  background-color: #ffffff;
  position: fixed;
  overflow: scroll;
  overflow-x: hidden;
  padding-right: 52px;
  right: -25px;
  top: 0;
  z-index: 4;
}
.sitebar::-webkit-scrollbar {
  display: none;
  width: 0;
}
.sitebar_close {
  display: none;
  position: relative;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 30px;
  height: 2px;
  width: 18px;
  padding: 5px 0;
}
.sitebar_close:before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #6a747b;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  top: 50%;
  margin-top: -1px;
  -webkit-transform-origin: center;
  transform-origin: center;
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sitebar_close:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #6a747b;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  bottom: 50%;
  margin-bottom: -1px;
  -webkit-transform-origin: center;
  transform-origin: center;
  left: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.sitebar_close:hover:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.sitebar_close:hover:after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.sitebar_title {
  color: #1d2f3c;
  font-size: 21px;
  font-weight: 700;
  line-height: 28.3px;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 32px;
}
.sitebar_title:after {
  content: "";
  margin-left: 22px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #82c831;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 rgba(130, 200, 49, 0.4);
  box-shadow: 0 0 0 rgba(130, 200, 49, 0.4);
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(130, 200, 49, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(130, 200, 49, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(130, 200, 49, 0);
  }
}
@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(130, 200, 49, 0.4);
    box-shadow: 0 0 0 0 rgba(130, 200, 49, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(130, 200, 49, 0);
    box-shadow: 0 0 0 10px rgba(130, 200, 49, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(130, 200, 49, 0);
    box-shadow: 0 0 0 0 rgba(130, 200, 49, 0);
  }
}
.sitebar_item {
  margin-bottom: 32px;
  cursor: default;
}
.sitebar_item:hover .sitebar_item_link {
  text-decoration: underline;
}
.sitebar_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}
.sitebar_inf {
  color: #1d2f3c;
  font-size: 15px;
  font-weight: 500;
  line-height: 20.21px;
}
.sitebar_time {
  color: #7a858d;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 18.87px;
}
.sitebar_name {
  color: #1d2f3c;
  font-size: 15px;
  font-weight: 500;
  line-height: 20.21px;
}
.sitebar_img {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}
.sitebar_img img {
  max-width: 100%;
  max-height: 100%;
}
.sitebar_comment {
  color: #1d2f3c;
  font-size: 15px;
  font-weight: 400;
  line-height: 21.09px;
  margin-bottom: 6px;
}
.sitebar_comment a {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}
.sitebar_link {
  text-decoration: none;
  color: #82c831;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.26px;
  line-height: 16.76px;
}
