@media (max-width: 1439px) {
  .sitebar__wrapper {
    display: none;
  }
}
@media (max-width: 950px) {
  .sitebar__wrapper {
    opacity: 0;
    width: 270px;
    padding-left: 15px;
    max-width: 100%;
    padding-right: 15px;
    -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    right: -296px;
  }
  .sitebar__wrapper.active {
    display: block;
  }
  .sitebar__wrapper.open {
    opacity: 1;
    right: 0;
  }
  .sitebar__close {
    display: block;
  }
}
