@media (max-width: 950px) {
  .page .lenta_col {
    width: calc((100% - 32px)/2);
    margin-right: 32px;
    margin-bottom: 32px;
  }
  .page .lenta_col:nth-child(2) {
    margin-right: 0;
  }
  .page .lenta_col:last-child {
    display: flex;
    width: 100%;
    margin-bottom: 0;
  }
  .page .lenta_col:last-child .item {
    margin-right: 32px;
  }
  .page .lenta_col:last-child .item,
  .page .lenta_col:last-child .sItem_wrapper {
    width: calc((100% - 32px)/2);
  }
  .page .lenta_body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-height: none;
    height: auto;
    flex-wrap: wrap;
  }
  .page .lenta_body.tablet_slider {
    max-width: calc((100% - (4 * 32px))/5 + 32px);
    min-width: 195px;
  }
  .page .lenta_body.tablet_slider .slick-list {
    overflow: visible;
    width: 100%;
  }
  .page .lenta_body.row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .page .lenta .bItem {
    margin-bottom: 24px;
    width: 100%;
    max-width: none;
    margin-right: 0;
  }
  .page .lenta .bItem_title {
    font-size: 21px;
    line-height: 28.3px;
  }
  .page .lenta .item {
    max-width: none;
  }
  .page .lenta .item_title {
    font-size: 18px;
    line-height: 24.26px;
  }
  .page .lenta .item_type {
    margin-bottom: 0;
  }
  .page .lenta .item.text_show_mobile .item_text {
    display: block;
  }
  .page .lenta .item .data-bottom {
    margin-top: 3px;
  }
  .page .lenta .item_text {
    display: none;
  }
  .page .lenta .item_inf {
    margin-top: 8px;
  }
  .page .lenta .sItem_wrapper {
    max-width: none;
  }
  .page .lenta .sItem_title {
    font-size: 18px;
    line-height: 24.26px;
  }
  .page .lenta .srItem {
    max-width: 180px;
  }
}
@media (max-width: 768px) {
  .page .lenta_col {
    width: 100%;
    margin-right: 0 !important;
  }
  .page .lenta_col:last-child {
    display: block;
  }
  .page .lenta_col:last-child .item {
    margin-right: 0;
  }
  .page .lenta_col:last-child .item,
  .page .lenta_col:last-child .sItem_wrapper {
    width: 100%;
  }
  .page .lenta_body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-height: none;
    /* &.tablet_slider {
          max-width: 420px;
        } */
  }
  .page .lenta .bItem_img {
    height: auto;
  }
  .page .lenta .bItem_img img {
    position: unset;
    max-width: 85%;
    margin: auto;
    display: block;
    margin-bottom: -20px;
    -webkit-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }
  .page .lenta .item {
    width: 100%;
    margin-right: 0;
  }
  .page .lenta .item_img {
    max-height: 324px;
    max-width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .page .lenta .item_img img {
    width: 100%;
  }
  .page .lenta .item_types {
    margin: 8px 0;
    padding-top: 8px;
  }
  .page .lenta .item_type a {
    font-size: 11px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
  }
  .page .lenta .item:hover .item_title {
    color: #1d2f3c;
  }
  .page .lenta .sItem_wrapper {
    width: 100%;
    margin-right: 0;
  }
  .page .lenta .srItem {
    width: 25%;
  }
  .page .lenta .srItem:nth-child(5n) {
    margin-right: 24px;
  }
  .page .lenta .specItem {
    width: 100%;
    margin-right: 0;
  }
  .page .lenta .btwItem {
    padding-left: 24px;
    padding-right: 24px;
  }
  .page .lenta .btwItem_img {
    position: unset;
    -webkit-transform: none;
    transform: none;
    -webkit-transform: translate(0, 70px);
    transform: translate(0, -70px);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 400px;
    margin: auto;
    margin-bottom: -40px;
  }
  .page .lenta .btwItem_title {
    font-size: 21px;
    font-weight: 700;
    line-height: 28.3px;
  }
  .page .lenta .btwItem_types {
    margin-bottom: 0;
    flex-wrap: wrap;
  }
  .page .lenta .btwItem_text {
    margin-top: 8px;
  }
  .page .lenta_goto {
    display: none;
  }
}
@media (max-width: 500px) {
  .page .lenta_body {
    /* &.tablet_slider {
          max-width: 195px;
        } */
  }
  .page .lenta .srItem {
    width: calc(50% - 16px);
    margin-right: 16px;
  }
  .page .lenta .srItem:nth-child(5n) {
    margin-right: 16px;
  }
}
@media (max-width: 400px) {
  .page .lenta_body.tablet_slider .srItem {
    margin-right: 15px;
  }
  .page .lenta_body.srItem {
    width: 100%;
    margin-right: 0;
  }
  .page .lenta_body.srItem:nth-child(5n) {
    margin-right: 0;
  }
}
