@media (max-width: 950px) {
  .page .lenta__col {
    width: calc((100% - 32px)/2);
    margin-right: 32px;
    margin-bottom: 32px;
  }
  .page .lenta__col:nth-child(2) {
    margin-right: 0;
  }
  .page .lenta__col:last-child {
    display: flex;
    width: 100%;
    margin-bottom: 0;
  }
  .page .lenta__col:last-child .lenta_body_item {
    margin-right: 32px;
  }
  .page .lenta__col:last-child .lenta_body_item,
  .page .lenta__col:last-child .lenta_body_s-item_wrapper {
    width: calc((100% - 32px)/2);
  }
  .page .lenta_body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-height: none;
    height: auto;
    flex-wrap: wrap;
  }
  .page .lenta_body.tablet_slider {
    max-width: 600px;
  }
  .page .lenta_body.tablet_slider .slick-list {
    overflow: visible;
    width: 100%;
  }
  .page .lenta_body_b-item {
    margin-bottom: 24px;
    width: 100%;
    max-width: none;
    margin-right: 0;
  }
  .page .lenta_body_b-item_title {
    font-size: 21px;
    line-height: 28.3px;
  }
  .page .lenta_body_item {
    max-width: none;
  }
  .page .lenta_body_item_title {
    font-size: 18px;
    line-height: 24.26px;
  }
  .page .lenta_body_item_types_type {
    margin-bottom: 0;
  }
  .page .lenta_body_item.text_show_mobile .lenta_body_item_text {
    display: block;
  }
  .page .lenta_body_item .data-bottom {
    margin-top: 3px;
  }
  .page .lenta_body_item_text {
    display: none;
  }
  .page .lenta_body_item_inf {
    margin-top: 8px;
  }
  .page .lenta_body_s-item_wrapper {
    max-width: none;
  }
  .page .lenta_body_s-item_title {
    font-size: 18px;
    line-height: 24.26px;
  }
  .page .lenta_body_sr-item {
    max-width: 180px;
  }
  .page .lenta_body.row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .page .lenta__col {
    width: 100%;
    margin-right: 0 !important;
  }
  .page .lenta__col:last-child {
    display: block;
  }
  .page .lenta__col:last-child .lenta_body_item {
    margin-right: 0;
  }
  .page .lenta__col:last-child .lenta_body_item,
  .page .lenta__col:last-child .lenta_body_s-item_wrapper {
    width: 100%;
  }
  .page .lenta_body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-height: none;
  }
  .page .lenta_body.tablet_slider {
    max-width: 420px;
  }
  .page .lenta_body_b-item_img {
    height: auto;
  }
  .page .lenta_body_b-item_img img {
    position: unset;
    max-width: 85%;
    margin: auto;
    display: block;
    margin-bottom: -20px;
    -webkit-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }
  .page .lenta_body_item {
    width: 100%;
    margin-right: 0;
  }
  .page .lenta_body_item_img {
    max-height: 324px;
    max-width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .page .lenta_body_item_img img {
    width: 100%;
  }
  .page .lenta_body_item_types {
    margin: 8px 0;
    padding-top: 8px;
  }
  .page .lenta_body_item_types_type a {
    font-size: 11px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
  }
  .page .lenta_body_item:hover .lenta_body_item_title {
    color: #1d2f3c;
  }
  .page .lenta_body_s-item_wrapper {
    width: 100%;
    margin-right: 0;
  }
  .page .lenta_body_sr-item {
    width: 25%;
  }
  .page .lenta_body_sr-item:nth-child(5n) {
    margin-right: 24px;
  }
  .page .lenta_body_spec-item {
    width: 100%;
    margin-right: 0;
  }
  .page .lenta_btw-item {
    padding-left: 24px;
    padding-right: 24px;
  }
  .page .lenta_btw-item_img {
    position: unset;
    -webkit-transform: none;
    transform: none;
    -webkit-transform: translate(0, 70px);
    transform: translate(0, -70px);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 400px;
    margin: auto;
    margin-bottom: -40px;
  }
  .page .lenta_btw-item_title {
    font-size: 21px;
    font-weight: 700;
    line-height: 28.3px;
  }
  .page .lenta_btw-item_types {
    margin-bottom: 0;
    flex-wrap: wrap;
  }
  .page .lenta_btw-item_text {
    margin-top: 8px;
  }
  .page .lenta_goto {
    display: none;
  }
}
@media (max-width: 500px) {
  .page .lenta_body.tablet_slider {
    max-width: 195px;
  }
  .page .lenta_body_sr-item {
    width: calc(50% - 16px);
    margin-right: 16px;
  }
  .page .lenta_body_sr-item:nth-child(5n) {
    margin-right: 16px;
  }
}
@media (max-width: 400px) {
  .page .lenta_body_sr-item {
    width: 100%;
    margin-right: 0;
  }
  .page .lenta_body_sr-item:nth-child(5n) {
    margin-right: 0;
  }
}
