.page .lenta {
  margin-bottom: 32px;
  position: relative;
}
.page .lenta_col {
  width: calc((100% - 64px)/3);
  margin-right: 32px;
}
.page .lenta_col:last-child {
  margin-right: 0;
}
.page .lenta_title {
  color: #1d2f3c;
  font-size: 21px;
  font-weight: 700;
  line-height: 28.3px;
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.page .lenta_title.big {
  font-size: 36px;
  letter-spacing: 0.72px;
}
.page .lenta_tagList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 8px;
}
.page .lenta_tagList_item {
  margin-right: 10px;
  font-size: 21px;
  font-weight: 700;
  line-height: 28.3px;
  color: #82c831;
}
.page .lenta_tagList_item:before {
  display: none;
}
.page .lenta_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
.page .lenta_body.tablet_slider {
  flex-wrap: wrap;
}
.page .lenta .bItem {
  width: calc((100% - 60px)/3*2 + 23px);
  border-radius: 8px;
  height: 100%;
  padding: 32px 24px;
  padding-top: 0;
  position: relative;
  margin-right: 37px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page .lenta .bItem.has_photo .bItem_img:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.page .lenta .bItem.has_photo .bItem_img img {
  width: 100%;
  max-height: 100%;
  bottom: 0;
}
.page .lenta .bItem_img {
  height: 220px;
  width: calc(100% + 50px);
  margin-left: -25px;
  position: relative;
  display: block;
}
.page .lenta .bItem_img img {
  border-radius: 8px;
  max-width: 100%;
  max-height: 120%;
  height: auto;
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.page .lenta .bItem_types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 12px;
}
.page .lenta .bItem_type {
  list-style: none;
  margin-bottom: 0;
  margin-right: 16px;
}
.page .lenta .bItem_type::before {
  content: none;
}
.page .lenta .bItem_type a {
  color: #7a858d;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
  line-height: 16.35px;
  text-transform: uppercase;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.page .lenta .bItem_type a:hover {
  color: #82c831;
}
.page .lenta .bItem_title {
  color: #1d2f3c;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.02em;
  margin: 5px 0;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
  box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
}
.page .lenta .bItem_title:hover {
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px rgba(122, 133, 141, 0.4);
  box-shadow: inset 0px 1px transparent, inset 0px -1px rgba(122, 133, 141, 0.4);
}
.page .lenta .bItem_text {
  color: #1d2f3c;
  margin: 16px 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 21.09px;
}
.page .lenta .item {
  width: auto;
  width: 100%;
  max-width: 312px;
  margin-bottom: 32px;
  cursor: pointer;
}
.page .lenta .item_img {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  position: relative;
  display: block;
}
.page .lenta .item_img img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}
.page .lenta .item_types {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 0;
}
.page .lenta .item_type {
  list-style: none;
  margin-right: 16px;
  margin-bottom: 5px;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
  box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
}
.page .lenta .item_type:hover {
  color: #82c831;
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
  box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
}
.page .lenta .item_type::before {
  content: none;
}
.page .lenta .item_type a {
  color: #82c831;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
  line-height: 16.35px;
  text-transform: uppercase;
}
.page .lenta .item_title {
  color: #1d2f3c;
  font-size: 21px;
  font-weight: 700;
  line-height: 28.3px;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: block;
  padding-bottom: 3px;
}
.page .lenta .item_title:hover {
  color: #82c831;
}
.page .lenta .item_text {
  color: #1d2f3c;
  font-size: 15px;
  font-weight: 400;
  line-height: 21.09px;
  margin: 8px 0;
}
.page .lenta .sItem {
  padding-left: 64px;
  margin-bottom: 20px;
  width: calc(100% - 64px);
  position: relative;
  margin-right: 32px;
  cursor: pointer;
}
.page .lenta .sItem_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.page .lenta .sItem:hover .sItem_title {
  color: #82c831;
}
.page .lenta .sItem:last-child {
  margin-bottom: 0;
}
.page .lenta .sItem_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 312px;
  margin-bottom: 16px;
}
.page .lenta .sItem_wrapper:last-child {
  margin-bottom: 0;
}
.page .lenta .sItem_img {
  left: 0;
  top: 0;
  min-width: 52px;
  width: 52px;
  height: 52px;
  border-radius: 44px;
  background-color: #f6f9fb;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.page .lenta .sItem_img.type_box {
  border-radius: 8px;
}
.page .lenta .sItem_img i {
  max-width: 100%;
  max-height: 100%;
}
.page .lenta .sItem_title {
  color: #1d2f3c;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  font-size: 18px;
  font-weight: 500;
  line-height: 24.26px;
}
.page .lenta .sItem_inf {
  margin-top: 8px;
}
.page .lenta .srItem {
  width: calc((100% - (4 * 32px))/5);
  margin-right: 32px;
  margin-bottom: 40px;
  cursor: pointer;
}
.page .lenta .srItem:nth-child(5n) {
  margin-right: 0;
}
.page .lenta .srItem_img {
  width: 100%;
  max-width: 179px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: block;
  padding-top: 100%;
}
.page .lenta .srItem_img:hover {
  opacity: 0.8;
}
.page .lenta .srItem_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  min-width: 100%;
  width: auto;
  display: block;
  height: auto;
}
.page .lenta .srItem_img img.vert {
  width: 100%;
}
.page .lenta .srItem_img img.horz {
  height: 100%;
}
.page .lenta .srItem_img img.box {
  width: 100%;
  height: 100%;
}
.page .lenta .srItem_types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 4px;
}
.page .lenta .srItem_type {
  list-style: none;
  margin-right: 16px;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-bottom: 0;
  line-height: normal;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
  box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
}
.page .lenta .srItem_type:hover {
  color: #82c831;
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
  box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
}
.page .lenta .srItem_type::before {
  content: none;
}
.page .lenta .srItem_type a {
  color: #82c831;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.66px;
  line-height: 14.82px;
  text-transform: uppercase;
}
.page .lenta .srItem_title {
  color: #1d2f3c;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  font-size: 15px;
  font-weight: 500;
  line-height: 20.21px;
  display: block;
}
.page .lenta .srItem_title:hover {
  color: #82c831;
}
.page .lenta .specItem {
  max-width: 265px;
  margin-right: 32px;
  padding: 24px;
  padding-bottom: 0;
  width: calc((100% - 64px)/3);
  border-radius: 8px;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}
.page .lenta .specItem:nth-child(3n) {
  margin-right: 0;
}
.page .lenta .specItem_img {
  width: 100%;
  position: relative;
  right: -3px;
  bottom: -3px;
  height: 350px;
  display: block;
}
.page .lenta .specItem_img img {
  z-index: 0;
  height: 550px;
  position: absolute;
  top: -200px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.page .lenta .specItem_title {
  color: #1d2f3c;
  font-size: 21px;
  font-weight: 700;
  line-height: 28.3px;
  margin-bottom: 24px;
  max-width: 236px;
  position: relative;
  z-index: 1;
}
.page .lenta .specItem_text {
  color: #1d2f3c;
  position: relative;
  z-index: 1;
  max-width: 240px;
  font-size: 15px;
  font-weight: 400;
  line-height: 21.09px;
}
.page .lenta .btwItem {
  padding: 40px;
  border-radius: 4px;
  position: relative;
  padding-left: 400px;
  width: calc(100% - 440px);
  margin-bottom: 60px;
  cursor: pointer;
}
.page .lenta .btwItem.has_photo {
  overflow: hidden;
}
.page .lenta .btwItem.has_photo img {
  max-width: 100%;
  margin-left: 0;
  min-height: 100%;
  position: relative;
  top: 1px;
}
.page .lenta .btwItem.has_photo .btwItem_img {
  height: 100%;
}
.page .lenta .btwItem.has_photo .btwItem_img:before {
  content: "";
  display: block;
  position: absolute;
  width: 380px;
  height: 100%;
  padding-bottom: 1px;
  left: 0;
  top: 0;
  z-index: 1;
}
@media (max-width: 768px) {
  .page .lenta .btwItem.has_photo .btwItem_img {
    max-width: none;
    width: calc(100% + 48px);
    overflow: hidden;
    max-height: 400px;
    transform: translate(-24px, -40px);
  }
  .page .lenta .btwItem.has_photo .btwItem_img:before {
    width: 100%;
  }
}
.page .lenta .btwItem_img {
  height: calc(100% + 60px);
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 380px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  display: block;
}
.page .lenta .btwItem_img img {
  max-width: 95%;
  width: 100%;
  height: auto;
  margin: auto;
  margin-left: 5%;
  display: block;
  max-height: 100%;
}
.page .lenta .btwItem_types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.page .lenta .btwItem_type {
  list-style: none;
  margin-right: 16px;
}
.page .lenta .btwItem_type::before {
  content: none;
}
.page .lenta .btwItem_type a {
  color: #7a858d;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
  line-height: 16.35px;
  text-transform: uppercase;
}
.page .lenta .btwItem_title {
  color: #1d2f3c;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.72px;
  margin: 5px 0;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
  box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
}
.page .lenta .btwItem_title:hover {
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
  box-shadow: inset 0px 1px transparent, inset 0px -1px #7a858d;
}
.page .lenta .btwItem_text {
  color: #1d2f3c;
  margin: 21px 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 21.09px;
}
.page .lenta .btwItem .btwItem_type {
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
  box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
}
.page .lenta .btwItem .btwItem_type:hover {
  color: #7a858d;
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px rgba(122, 133, 141, 0.4);
  box-shadow: inset 0px 1px transparent, inset 0px -1px rgba(122, 133, 141, 0.4);
}
.page .lenta_goto {
  color: #82c831;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.04px;
  line-height: 17.52px;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
  box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
}
.page .lenta_goto:hover {
  color: #82c831;
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
  box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
}
.page .lenta_goto:after {
  content: "";
  display: block;
  width: 20px;
  height: 14px;
  background-image: url(../images/str_green.png);
  background-size: contain;
  margin-left: 10px;
}
.page .lenta_show-more {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  width: 244px;
  height: 48px;
  border-radius: 24px;
  color: #82c831;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.04px;
  line-height: 17.52px;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
}
.page .lenta_show-more:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: #f3faeb;
  z-index: -1;
  position: absolute;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.page .lenta_show-more::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: #f3faeb;
  position: absolute;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  left: 50%;
  top: 50%;
  z-index: -2;
  transform: translate(-50%, -50%);
}
.page .lenta_show-more:hover:after {
  background: rgba(130, 200, 49, 0.3);
}
.page .lenta_show-more:active:after {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}
@media (max-width: 950px) {
  .page .lenta_col {
    width: calc((100% - 32px)/2);
    margin-right: 32px;
    margin-bottom: 32px;
  }
  .page .lenta_col:nth-child(2) {
    margin-right: 0;
  }
  .page .lenta_col:last-child {
    display: flex;
    width: 100%;
    margin-bottom: 0;
  }
  .page .lenta_col:last-child .item {
    margin-right: 32px;
  }
  .page .lenta_col:last-child .item,
  .page .lenta_col:last-child .sItem_wrapper {
    width: calc((100% - 32px)/2);
  }
  .page .lenta_body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-height: none;
    height: auto;
    flex-wrap: wrap;
  }
  .page .lenta_body.tablet_slider {
    max-width: calc((100% - (4 * 32px))/5 + 32px);
    min-width: 195px;
  }
  .page .lenta_body.tablet_slider .slick-list {
    overflow: visible;
    width: 100%;
  }
  .page .lenta_body.row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .page .lenta .bItem {
    margin-bottom: 24px;
    width: 100%;
    max-width: none;
    margin-right: 0;
  }
  .page .lenta .bItem_title {
    font-size: 21px;
    line-height: 28.3px;
  }
  .page .lenta .item {
    max-width: none;
  }
  .page .lenta .item_title {
    font-size: 18px;
    line-height: 24.26px;
  }
  .page .lenta .item_type {
    margin-bottom: 0;
  }
  .page .lenta .item.text_show_mobile .item_text {
    display: block;
  }
  .page .lenta .item .data-bottom {
    margin-top: 3px;
  }
  .page .lenta .item_text {
    display: none;
  }
  .page .lenta .item_inf {
    margin-top: 8px;
  }
  .page .lenta .sItem_wrapper {
    max-width: none;
  }
  .page .lenta .sItem_title {
    font-size: 18px;
    line-height: 24.26px;
  }
  .page .lenta .srItem {
    max-width: 180px;
  }
}
@media (max-width: 768px) {
  .page .lenta_col {
    width: 100%;
    margin-right: 0 !important;
  }
  .page .lenta_col:last-child {
    display: block;
  }
  .page .lenta_col:last-child .item {
    margin-right: 0;
  }
  .page .lenta_col:last-child .item,
  .page .lenta_col:last-child .sItem_wrapper {
    width: 100%;
  }
  .page .lenta_body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-height: none;
    /* &.tablet_slider {
          max-width: 420px;
        } */
  }
  .page .lenta .bItem_img {
    height: auto;
  }
  .page .lenta .bItem_img img {
    position: unset;
    max-width: 85%;
    margin: auto;
    display: block;
    margin-bottom: -20px;
    -webkit-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }
  .page .lenta .item {
    width: 100%;
    margin-right: 0;
  }
  .page .lenta .item_img {
    max-height: 324px;
    max-width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .page .lenta .item_img img {
    width: 100%;
  }
  .page .lenta .item_types {
    margin: 8px 0;
    padding-top: 8px;
  }
  .page .lenta .item_type a {
    font-size: 11px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
  }
  .page .lenta .item:hover .item_title {
    color: #1d2f3c;
  }
  .page .lenta .sItem_wrapper {
    width: 100%;
    margin-right: 0;
  }
  .page .lenta .srItem {
    width: 25%;
  }
  .page .lenta .srItem:nth-child(5n) {
    margin-right: 24px;
  }
  .page .lenta .specItem {
    width: 100%;
    margin-right: 0;
  }
  .page .lenta .btwItem {
    padding-left: 24px;
    padding-right: 24px;
  }
  .page .lenta .btwItem_img {
    position: unset;
    -webkit-transform: none;
    transform: none;
    -webkit-transform: translate(0, 70px);
    transform: translate(0, -70px);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 400px;
    margin: auto;
    margin-bottom: -40px;
  }
  .page .lenta .btwItem_title {
    font-size: 21px;
    font-weight: 700;
    line-height: 28.3px;
  }
  .page .lenta .btwItem_types {
    margin-bottom: 0;
    flex-wrap: wrap;
  }
  .page .lenta .btwItem_text {
    margin-top: 8px;
  }
  .page .lenta_goto {
    display: none;
  }
}
@media (max-width: 500px) {
  .page .lenta_body {
    /* &.tablet_slider {
          max-width: 195px;
        } */
  }
  .page .lenta .srItem {
    width: calc(50% - 16px);
    margin-right: 16px;
  }
  .page .lenta .srItem:nth-child(5n) {
    margin-right: 16px;
  }
}
@media (max-width: 400px) {
  .page .lenta_body.tablet_slider .srItem {
    margin-right: 15px;
  }
  .page .lenta_body.srItem {
    width: 100%;
    margin-right: 0;
  }
  .page .lenta_body.srItem:nth-child(5n) {
    margin-right: 0;
  }
}
