@media (max-width: 950px) {
  .page .comments {
    margin-right: 0;
  }
  .page .comments__item {
    padding-left: 0;
  }
  .page .comments__item__top {
    padding-left: 50px;
    min-height: 50px;
  }
  .page .comments__item__img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 960px) {
  .page .comments__form.answer {
    width: 100%;
    margin-left: 0;
  }
  .page .comments__item {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 15px;
  }
  .page .comments__item__wrapper {
    margin-bottom: 30px;
  }
  .page .comments__item__top__right {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    justify-content: flex-end;
  }
  .page .comments__item__top__right * {
    opacity: 1 !important;
  }
  .page .comments__item__top__right__answer {
    position: absolute;
    left: 0;
  }
  .page .comments__item__top__left {
    width: 100%;
    justify-content: space-between;
  }
}
