.page .comments {
  margin-bottom: 32px;
  margin-right: 100px;
}
.page .comments_title {
  color: #1d2f3c;
  font-size: 26px;
  font-weight: 700;
  line-height: 35.43px;
  margin-bottom: 16px;
  margin-top: 40px;
}
.page .comments_form {
  width: 100%;
  margin-bottom: 32px;
  position: relative;
  z-index: 5;
}
.page .comments_form.answer {
  margin-top: 23px;
  width: calc(100% - 70px);
  margin-left: 70px;
}
.page .comments_form.answer .comments_form_button {
  display: flex;
}
.page .comments_input {
  height: auto;
  width: 100%;
  padding: 16px 12px;
  resize: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  height: 65px;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  font-size: 15px;
  line-height: 21px;
}
.page .comments_input:focus {
  height: 90px;
}
.page .comments_button {
  display: none;
}
.page .comments_button.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page .comments_list {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.page .comments_list:before {
  position: absolute;
  z-index: 4;
  display: block;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  height: 129px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
.page .comments_list.active {
  height: auto;
}
.page .comments_list.active:before {
  display: none;
}
.page .comments_item {
  padding-left: 70px;
  position: relative;
  margin-bottom: 32px;
}
.page .comments_item:hover .comments_dis-like {
  opacity: 1;
}
.page .comments_item:hover .comments_like {
  opacity: 1;
}
.page .comments_item:hover .comments_answer {
  opacity: 1;
}
.page .comments_blockImg {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  overflow: hidden;
}
.page .comments_img {
  max-width: 100%;
  max-height: 100%;
}
.page .comments_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 5px;
}
.page .comments_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.page .comments_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.page .comments_summ {
  font-size: 15px;
  font-weight: 500;
  line-height: 20.21px;
  color: #7a858d;
  margin-right: 11px;
}
.page .comments_summ.minus {
  color: #d81615;
}
.page .comments_summ.plus {
  color: #82c831;
}
.page .comments_answer {
  color: #82c831;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.04px;
  line-height: 17.52px;
  text-transform: uppercase;
  margin-right: 20px;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}
.page .comments_dis-like {
  width: 15px;
  height: 13px;
  background-image: url(../images/dis_like.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 11px;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}
.page .comments_dis-like.active {
  opacity: 1;
}
.page .comments_like {
  width: 16px;
  height: 13px;
  background-image: url(../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2px;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}
.page .comments_like.active {
  opacity: 1;
}
.page .comments_name {
  color: #1d2f3c;
  font-size: 18px;
  font-weight: 500;
  line-height: 24.26px;
  margin-right: 10px;
}
.page .comments_time {
  color: #7a858d;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 18.87px;
}
.page .comments_text {
  color: #1d2f3c;
  font-size: 15px;
  font-weight: 400;
  line-height: 21.09px;
}
.page .comments_show-all {
  color: #82c831;
  font-size: 13px;
  font-weight: 500;
  display: block;
  letter-spacing: 1.04px;
  line-height: 17.52px;
  margin-top: 32px;
  text-transform: uppercase;
}
