.page .article .head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.page .article .head_inf {
  margin-right: 37px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: #7a858d;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 18.87px;
  min-width: 200px;
}
.page .article .head_comments {
  display: flex;
  align-items: center;
}
.page .article .head_comments:before {
  content: "";
  display: block;
  margin-right: 3px;
  margin-top: 2px;
  width: 14px;
  height: 14px;
  background-image: url(../images/comments.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.page .article .head_views {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.page .article .head_views:before {
  content: "";
  margin-right: 3px;
  display: block;
  width: 22px;
  height: 20px;
  background-image: url(../images/eye.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.page .article .head_time {
  margin-left: 16px;
}
.page .article .head_types {
  display: flex;
  flex-wrap: wrap;
}
.page .article .head_type {
  margin-right: 32px;
  margin-bottom: 5px;
}
.page .article .head_link {
  display: flex;
  align-items: center;
  color: #82c831;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
  line-height: 16.35px;
  text-transform: uppercase;
  margin-left: 30px;
  position: relative;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
  box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
}
.page .article .head_link:hover {
  color: #82c831;
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
  box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
}
.page .article .head_icon {
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translate(-100%, -50%);
}
.page .article .head_data {
  margin-left: 16px;
}
.page .article .title {
  margin-top: 16px;
}
.page .article .social {
  position: absolute;
  left: -90px;
  top: 0;
  border: 1px solid #f0f0f0;
  background: #fff;
  z-index: 1;
}
.page .article .social_item {
  width: 62px;
  height: 71px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.page .article .social_item:last-child {
  border-bottom: 0;
  position: relative;
}
.page .article .social_item:hover {
  background: #f6f9fb;
}
.page .article .social_item .info_copied {
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  background-color: #fff;
  -webkit-box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 186px;
  height: 38px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.page .article .social_item .info_copied:before {
  content: "";
  display: block;
  position: absolute;
  left: 15px;
  width: 14px;
  height: 14px;
  top: 0;
  -webkit-transform: translate(0, -50%) rotate(45deg);
  transform: translate(0, -50%) rotate(45deg);
  background-color: #fff;
  border: 1px solid #e5e5e5;
  z-index: 3;
  border-bottom: 0;
  border-right: 0;
}
.page .article .social_item .info_copied img {
  margin-right: 5px;
}
.page .article .social_item .info_copied span {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #1d2f3c;
}
.page .article .social_blockImg {
  max-width: 24px;
  max-height: 28px;
}
.page .article .social_img {
  max-width: 100%;
  max-height: 30px;
}
.page .article .social_count {
  opacity: 0.8;
  color: #7a858d;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
  line-height: 16.35px;
  text-transform: uppercase;
  margin-top: 8px;
}
.page .article .social_text {
  display: none;
}
.page .article .body {
  position: relative;
  margin-bottom: 56px;
  min-height: 200px;
}
.page .article .body_box {
  margin-right: 250px;
  position: relative;
}
.page .article .body_box a {
  display: inline;
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
  box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.page .article .body_box a:hover {
  color: #82c831;
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
  box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
}
.page .article .right {
  width: 100%;
  position: relative;
}
.page .article .right > * {
  position: absolute !important;
  margin-top: 0 !important;
  right: -250px;
  max-width: 165px;
  top: 0;
}
.page .article .blockImg {
  width: 100%;
  border-radius: 8px;
  margin: 32px 0;
}
.page .article .blockImg.big {
  width: calc(100% + 250px);
}
.page .article .blockImg.big img {
  width: 100%;
}
.page .article .blockImg.row {
  display: flex;
}
.page .article .blockImg.row .blockImg_col {
  flex-basis: calc(50% - 13px);
  margin-right: 26px;
}
.page .article .blockImg.row .blockImg_col:last-child {
  margin-right: 0;
}
.page .article .blockImg.row .blockImg_col img {
  max-width: 100%;
  height: auto;
}
.page .article .blockImg_text {
  color: #7a858d;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.26px;
  margin: 5px 0;
  line-height: 16.76px;
}
.page .article .blockImg_head {
  margin: auto;
  overflow: visible;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 8px;
}
.page .article .blockVideo {
  padding-top: 60%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin: 32px 0;
}
.page .article .blockVideo iframe,
.page .article .blockVideo video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
}
.page .article .blockVideo_text {
  color: #7a858d;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.26px;
  margin: 5px 0;
  line-height: 16.76px;
}
.page .article .img {
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.page .article .img_photo {
  width: 100%;
  transform: none;
}
.page .article .img_head {
  width: auto;
  transform: translate(0, -30px);
  max-width: calc(100% - 50px);
}
.page .article .seeAlso {
  padding: 16px;
  padding-left: 16px;
  padding-bottom: 24px;
  border-left: 4px solid #98d15a;
  box-shadow: 0 4px 15px rgba(120, 160, 190, 0.3);
  border-radius: 10px;
  background-color: #ffffff;
}
.page .article .seeAlso_title {
  color: #7a858d;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.72px;
  line-height: 16.17px;
  text-transform: uppercase;
  margin-bottom: 16px;
  padding-bottom: 16px;
  position: relative;
}
.page .article .seeAlso_title:before {
  content: "";
  display: block;
  width: calc(100% + 30px);
  height: 1px;
  position: absolute;
  left: -15px;
  bottom: 0;
  background-color: #f0f0f0;
}
.page .article .seeAlso_item {
  padding-left: 64px;
  position: relative;
}
.page .article .seeAlso_blockImg {
  width: 52px;
  height: 52px;
  border-radius: 44px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f6f9fb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page .article .seeAlso_icon {
  max-width: 100%;
  max-height: 100%;
}
.page .article .seeAlso_img {
  max-width: 100%;
  max-height: 100%;
}
.page .article .seeAlso_itemTitle {
  color: #1d2f3c;
  font-size: 18px;
  font-weight: 500;
  line-height: 24.26px;
  margin-bottom: 20px;
}
.page .article .seeAlso_inf {
  display: flex;
  align-items: center;
  color: #7a858d;
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 18.87px;
}
.page .article .seeAlso_comments {
  display: flex;
  align-items: center;
}
.page .article .seeAlso_comments:before {
  content: "";
  display: block;
  margin-right: 3px;
  margin-top: 2px;
  width: 14px;
  height: 14px;
  background-image: url(../images/comments.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.page .article .seeAlso_views {
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.page .article .seeAlso_views:before {
  content: "";
  margin-right: 3px;
  display: block;
  width: 22px;
  height: 20px;
  background-image: url(../images/eye.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.page .article .seeAlso_time {
  margin-left: 16px;
}
.page .article .author_blockImg {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
}
.page .article .author_name {
  color: #1d2f3c;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.26px;
  line-height: 16.76px;
  margin: 5px 0;
}
.page .article .author_inf {
  color: #7a858d;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.26px;
  line-height: 16.76px;
}
.page .article .minInf_blockImg {
  width: 165px;
  height: 121px;
  border-radius: 8px;
  overflow: hidden;
}
.page .article .minInf_title {
  width: 165px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 136.28%;
  color: #1d2f3c;
}
.page .article .minInf_text {
  color: #1d2f3c;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 18.87px;
  margin-top: 13px;
}
.page .article .inf {
  margin-top: 56px;
}
.page .article .inf_wrapper {
  display: flex;
  margin-bottom: 24px;
}
.page .article .inf_wrapper:first-child .article_inf_item_link {
  margin-left: 32px;
}
.page .article .inf_title {
  color: #1d2f3c;
  font-size: 15px;
  font-weight: 500;
  line-height: 20.21px;
  margin-right: 32px;
  margin-top: -4px;
}
.page .article .inf_list {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.page .article .inf_item {
  margin-right: 32px;
  margin-bottom: 5px;
}
.page .article .inf_link {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 136.28%;
  height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
  box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
}
.page .article .inf_link:hover {
  color: #82c831;
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
  box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
}
.page .article .inf_icon {
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translate(-100%, -50%);
}
.page .article .card {
  padding: 30px 32px 20px 32px;
  border-radius: 10px;
  margin-bottom: 24px;
  width: calc(100% + 150px);
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.page .article .card_title {
  color: #1d2f3c;
  font-size: 26px;
  font-weight: 700;
  line-height: 35.43px;
}
.page .article .card_text {
  margin-top: 16px;
  color: #1d2f3c;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.37px;
}
.page .article .card_emoji {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 32px;
  left: 32px;
}
.page .article .card_emojiBlock {
  padding-left: 80px;
}
.page .article .card_icon {
  width: 30px;
}
.page .article .card_img {
  -webkit-transform: translate(-32px, -30px);
  transform: translate(-32px, -30px);
  width: calc(100% + 64px);
  height: auto;
}
.page .article .checkbox_button {
  color: #82c831;
  height: 48px;
  border-radius: 24px;
  margin-top: 32px;
  width: 100%;
  display: flex !important;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.04px;
  line-height: 17.52px;
  text-transform: uppercase;
  border: none;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.page .article .checkbox_button:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: #f3faeb;
  z-index: -1;
  position: absolute;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.page .article .checkbox_button::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: #f3faeb;
  position: absolute;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  left: 50%;
  top: 50%;
  z-index: -2;
  transform: translate(-50%, -50%);
}
.page .article .checkbox_button:hover:after {
  background: rgba(130, 200, 49, 0.3);
}
.page .article .checkbox_button:active:after {
  width: 30%;
  height: 96px;
  border-radius: 50%;
}
.page .article .checkbox_list {
  margin-top: 32px;
}
.page .article .checkbox_item {
  padding-left: 80px;
  margin-bottom: 32px;
  position: relative;
  cursor: default;
}
.page .article .checkbox_label {
  font-size: 18px;
  line-height: 26.37px;
  display: block;
  cursor: default;
}
.page .article .checkbox_label:before {
  width: 40px;
  height: 48px;
  min-width: 48px;
  border-radius: 4px;
  border: 1px solid #82c831;
  position: absolute;
  left: 0;
  top: 10px;
  background-size: 75px 75px;
}
.page .article .checkbox_label b {
  display: block;
  font-size: 21px;
  font-weight: 700;
  line-height: 28.3px;
  margin-bottom: 5px;
}
