@media (max-width: 950px) {
  .page .article_body {
    margin-left: 0;
  }
  .page .article_body_box {
    margin-right: 0;
  }
  .page .article_block-img.big {
    width: 100%;
  }
  .page .article_block-img_head {
    margin-top: 48px;
  }
  .page .article_right > * {
    position: unset !important;
    margin-top: 0 !important;
    right: -250px;
    max-width: none;
    top: 0;
  }
  .page .article_author {
    position: relative !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px 0;
    padding-left: 72px;
  }
  .page .article_author_block-img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  .page .article_social {
    position: unset !important;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 300px;
    margin: auto;
    border: 0;
  }
  .page .article_social_item {
    border-bottom: none;
    border: 1px solid #f0f0f0;
    border-right: 0;
    width: calc(25% - 2px);
  }
  .page .article_social_item:nth-child(4) {
    border-right: 1px solid #f0f0f0;
  }
  .page .article_social_item:last-child {
    border: 0;
    border-radius: 8px;
    background-color: #f3faeb;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    height: 48px;
  }
  .page .article_social_item:last-child:hover {
    background-color: #f3faeb;
  }
  .page .article_social_item:last-child .article_social_item_block-img {
    display: none;
  }
  .page .article_social_item:last-child .article_social_item_count {
    display: none;
  }
  .page .article_social_item:last-child .article_social_item_text {
    display: block;
    color: #82c831;
    font-family: Rubik;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.04px;
    line-height: 17.52px;
    text-transform: uppercase;
  }
  .page .article_social_item.copy {
    z-index: 2;
    background: none;
    cursor: pointer;
  }
  .page .article_social_item.copy .article_social_item_text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  .page .article_social_item.copy .article_social_item_text:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: #f3faeb;
    z-index: -1;
    position: absolute;
    transition: all 0.3s;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .page .article_social_item.copy .article_social_item_text::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: #f3faeb;
    position: absolute;
    transition: all 0.3s;
    left: 50%;
    top: 50%;
    z-index: -2;
    transform: translate(-50%, -50%);
  }
  .page .article_social_item.copy .article_social_item_text:hover:after {
    background: rgba(130, 200, 49, 0.3);
  }
  .page .article_social_item.copy .article_social_item_text:active:after {
    width: 30%;
    height: 90px;
    border-radius: 45px;
  }
  .page .article_social_item .info_copied {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .page .article_social_item .info_copied:before {
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
@media (min-width: 769px) {
  .page .article_body_box {
    background-color: transparent;
  }
  .page .article_body_box:hover {
    background-color: transparent;
  }
}
@media (max-width: 768px) {
  .page .article_body_box:before {
    content: "";
    position: absolute;
    width: calc(100% + 50px);
    left: -25px;
    top: -55px;
    height: calc(100% + 100px);
    background-color: inherit;
    -webkit-transition: none;
    transition: none;
    z-index: -1;
  }
  .page .article_head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .page .article_head_inf {
    margin-bottom: 12px;
  }
  .page .article_card {
    margin-right: 0;
  }
  .page .article_card_emoji {
    position: unset;
  }
  .page .article_checkbox_button {
    display: none;
  }
  .page .article_checkbox_item {
    padding-left: 48px;
  }
  .page .article_checkbox_label:before {
    width: 32px;
    height: 32px;
    min-width: 32px;
    background-size: 50px 50px;
  }
  .page .article_checkbox_label b {
    font-size: 18px;
  }
  .page .article_card_emoji {
    padding-left: 32px;
  }
}
@media (max-width: 500px) {
  .page .article_block-img_head {
    margin-bottom: 10px;
  }
  .page .article_head_inf {
    margin-bottom: 0;
  }
  .page .article_head_types {
    display: none;
  }
}
@media (max-width: 400px) {
  .page .article_card {
    padding: 32px 16px;
    width: calc(100% - 32px);
  }
  .page .article_inf_list {
    justify-content: space-between;
  }
  .page .article_social {
    width: 100%;
    max-width: none;
  }
  .page .article_social_item {
    flex-basis: calc(25% - 2px);
  }
  .page .article_social_item:last-child {
    flex-basis: 100%;
    max-width: none;
  }
}
