.page .article__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.page .article__head__inf {
  margin-right: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7a858d;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 18.87px;
}
.page .article__head__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.page .article__head__comments:before {
  content: "";
  display: block;
  margin-right: 3px;
  margin-top: 2px;
  width: 14px;
  height: 14px;
  background-image: url(../images/comments.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.page .article__head__views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
}
.page .article__head__views:before {
  content: "";
  margin-right: 3px;
  display: block;
  width: 22px;
  height: 20px;
  background-image: url(../images/eye.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.page .article__head__time {
  margin-left: 15px;
}
.page .article__head__types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page .article__head__type {
  margin-right: 32px;
}
.page .article__head__type__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #82c831;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
  line-height: 16.35px;
  text-transform: uppercase;
  margin-left: 30px;
  position: relative;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
  box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
}
.page .article__head__type__link:hover {
  color: #82c831;
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
  box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
}
.page .article__head__type__icon {
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translate(-100%, -50%);
}
.page .article__head__data {
  margin-left: 15px;
}
.page .article__title {
  margin-top: 15px;
}
.page .article__social {
  position: absolute;
  left: -90px;
  top: 0;
  border: 1px solid #f0f0f0;
  background: #fff;
}
.page .article__social__item {
  width: 62px;
  height: 71px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.page .article__social__item:last-child {
  border-bottom: 0;
  position: relative;
}
.page .article__social__item:hover {
  background: #f6f9fb;
}
.page .article__social__item .info_copied {
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  background-color: #fff;
  -webkit-box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 186px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
}
.page .article__social__item .info_copied:before {
  content: "";
  display: block;
  position: absolute;
  left: 15px;
  width: 14px;
  height: 14px;
  top: 0;
  -webkit-transform: translate(0, -50%) rotate(45deg);
  transform: translate(0, -50%) rotate(45deg);
  background-color: #fff;
  border: 1px solid #e5e5e5;
  z-index: 3;
  border-bottom: 0;
  border-right: 0;
}
.page .article__social__item .info_copied img {
  margin-right: 5px;
}
.page .article__social__item .info_copied span {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #1d2f3c;
}
.page .article__social__item__block-img {
  max-width: 24px;
  max-height: 28px;
}
.page .article__social__item__img {
  max-width: 100%;
  max-height: 30px;
}
.page .article__social__item__count {
  opacity: 0.8;
  color: #7a858d;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
  line-height: 16.35px;
  text-transform: uppercase;
  margin-top: 7px;
}
.page .article__social__item__text {
  display: none;
}
.page .article__body {
  position: relative;
  margin-left: 90px;
  margin-bottom: 60px;
}
.page .article__body__box {
  margin-right: 250px;
  position: relative;
}
.page .article__body__box a {
  display: inline;
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
  box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.page .article__body__box a:hover {
  color: #82c831;
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
  box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
}
.page .article__right {
  width: 100%;
  position: relative;
}
.page .article__right > * {
  position: absolute !important;
  margin-top: 0 !important;
  right: -250px;
  max-width: 165px;
  top: 0;
}
.page .article__block-img {
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  margin: 30px 0;
}
.page .article__block-img.big {
  width: calc(100% + 250px);
}
.page .article__block-img__text {
  color: #7a858d;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.26px;
  margin: 5px 0;
  line-height: 16.76px;
}
.page .article_block-img_head {
  margin: auto;
  overflow: visible;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.page .article__img {
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.page .article_img_photo {
  width: 100%;
  -webkit-transform: none;
  transform: none;
}
.page .article_img_head {
  width: auto;
  -webkit-transform: translate(0, -30px);
  transform: translate(0, -30px);
  height: auto;
}
.page .article__see-also {
  padding: 15px;
  padding-left: 15px;
  padding-bottom: 23px;
  border-left: 4px solid #98d15a;
  -webkit-box-shadow: 0 4px 15px rgba(120, 160, 190, 0.3);
  box-shadow: 0 4px 15px rgba(120, 160, 190, 0.3);
  border-radius: 10px;
  background-color: #ffffff;
}
.page .article__see-also__title {
  color: #7a858d;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.72px;
  line-height: 16.17px;
  text-transform: uppercase;
  margin-bottom: 17px;
  padding-bottom: 17px;
  position: relative;
}
.page .article__see-also__title:before {
  content: "";
  display: block;
  width: calc(100% + 30px);
  height: 1px;
  position: absolute;
  left: -15px;
  bottom: 0;
  background-color: #f0f0f0;
}
.page .article__see-also__item {
  padding-left: 65px;
  position: relative;
}
.page .article__see-also__item__block-img {
  width: 52px;
  height: 52px;
  border-radius: 44px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #f6f9fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.page .article__see-also__item__icon {
  max-width: 100%;
  max-height: 100%;
}
.page .article__see-also__item__img {
  max-width: 100%;
  max-height: 100%;
}
.page .article__see-also__item__title {
  color: #1d2f3c;
  font-size: 18px;
  font-weight: 500;
  line-height: 24.26px;
  margin-bottom: 20px;
}
.page .article__see-also__item__inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7a858d;
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 18.87px;
}
.page .article__see-also__item__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.page .article__see-also__item__comments:before {
  content: "";
  display: block;
  margin-right: 3px;
  margin-top: 2px;
  width: 14px;
  height: 14px;
  background-image: url(../images/comments.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.page .article__see-also__item__views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
}
.page .article__see-also__item__views:before {
  content: "";
  margin-right: 3px;
  display: block;
  width: 22px;
  height: 20px;
  background-image: url(../images/eye.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.page .article__see-also__item__time {
  margin-left: 15px;
}
.page .article__author__block-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
}
.page .article__author__name {
  color: #1d2f3c;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.26px;
  line-height: 16.76px;
  margin: 5px 0;
}
.page .article__author__inf {
  color: #7a858d;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.26px;
  line-height: 16.76px;
}
.page .article__min-inf_block-img {
  width: 150px;
  height: 121px;
  border-radius: 8px;
  overflow: hidden;
}
.page .article__min-inf__text {
  color: #1d2f3c;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 18.87px;
  margin-top: 13px;
}
.page .article__inf {
  margin-top: 55px;
}
.page .article__inf__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}
.page .article__inf__wrapper:first-child .article__inf__item__link {
  margin-left: 30px;
}
.page .article__inf__title {
  color: #1d2f3c;
  font-size: 15px;
  font-weight: 500;
  line-height: 20.21px;
  margin-right: 36px;
}
.page .article__inf__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.page .article__inf__item {
  margin-right: 36px;
}
.page .article__inf__item__link {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 136.28%;
  height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
  box-shadow: inset 0px 1px transparent, inset 0px -1px transparent;
}
.page .article__inf__item__link:hover {
  color: #82c831;
  -webkit-box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
  box-shadow: inset 0px 1px transparent, inset 0px -1px #82c831;
}
.page .article__inf__item__icon {
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translate(-100%, -50%);
}
.page .article__card {
  padding: 30px 32px 20px 32px;
  border-radius: 10px;
  margin-bottom: 24px;
  margin-right: 100px;
  position: relative;
  overflow: hidden;
}
.page .article__card__title {
  color: #1d2f3c;
  font-size: 26px;
  font-weight: 700;
  line-height: 35.43px;
}
.page .article__card__text {
  margin-top: 16px;
  color: #1d2f3c;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.37px;
}
.page .article__card__emoji {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 32px;
  left: 32px;
}
.page .article__card__emoji__icon {
  width: 30px;
}
.page .article__card__img {
  -webkit-transform: translate(-32px, -30px);
  transform: translate(-32px, -30px);
  width: calc(100% + 64px);
  height: auto;
}
.page .article_card_emoji {
  padding-left: 82px;
}
.page .article__checkbox__button {
  color: #82c831;
  height: 48px;
  border-radius: 24px;
  margin-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.04px;
  line-height: 17.52px;
  text-transform: uppercase;
  border: none;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.page .article__checkbox__button:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: #f3faeb;
  z-index: -1;
  position: absolute;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.page .article__checkbox__button::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: #f3faeb;
  position: absolute;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  left: 50%;
  top: 50%;
  z-index: -2;
  transform: translate(-50%, -50%);
}
.page .article__checkbox__button:hover:after {
  background: rgba(130, 200, 49, 0.3);
}
.page .article__checkbox__button:active:after {
  width: 30%;
  height: 96px;
  border-radius: 50%;
}
.page .article__checkbox__list {
  margin-top: 30px;
}
.page .article_checkbox_item {
  padding-left: 80px;
  margin-bottom: 30px;
  position: relative;
  cursor: default;
}
.page .article_checkbox_label {
  font-size: 18px;
  line-height: 26.37px;
  display: block;
  cursor: default;
}
.page .article_checkbox_label:before {
  width: 40px;
  height: 48px;
  min-width: 48px;
  border-radius: 4px;
  border: 1px solid #82c831;
  position: absolute;
  left: 0;
  top: 10px;
  background-size: 75px 75px;
}
.page .article_checkbox_label b {
  display: block;
  font-size: 21px;
  font-weight: 700;
  line-height: 28.3px;
  margin-bottom: 5px;
}
