@media (max-width: 400px) {
  .popup_wrapper {
    max-width: 100vw;
  }
  .popup_wrapper:before {
    opacity: 1;
    background-color: #fff;
  }
  .popup_item {
    height: 100%;
    width: 100%;
    max-width: 95vw;
    border: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none;
  }
  .popup_item.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .popup_form {
    width: 100%;
  }
}
