.page .mailing {
  width: calc(100% - 160px);
  padding: 24px;
  padding-right: 50px;
  padding-left: 110px;
  border-radius: 8px;
  background-color: #f3faea;
  position: relative;
}
.page .mailing:before {
  left: 35px;
  top: 25px;
  content: "";
  position: absolute;
  display: block;
  width: 45px;
  height: 33px;
  background-image: url(../images/mail.png);
  background-position: 0 0;
  background-size: contain;
}
.page .mailing_title {
  color: #1d2f3c;
  font-size: 21px;
  font-weight: 700;
  line-height: 28.3px;
  margin-bottom: 8px;
}
.page .mailing_text {
  color: #1d2f3c;
  font-size: 15px;
  font-weight: 400;
  line-height: 21.09px;
  margin-bottom: 16px;
}
.page .mailing_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.page .mailing_input {
  width: calc(100% - 62px);
}
.page .mailing_succes {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  padding-left: 32px;
  position: relative;
  margin: 32px 0;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7a858d;
  display: flex;
}
.page .mailing_succes:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  background-image: url(../images/check_succes.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
